.cart {
    margin-top: calc(#{$header-height} + 35px);
    @include flex(flex-start, flex-start);

    @include mobile {
        flex-wrap: wrap;
         margin-top: calc(#{$header-mobile-height} + 5px);
    }

    &__info {
        // width: 40%;
        margin-right: 30px;
        padding:20px 0;
        // margin-top: 30px;
        box-shadow: $box-shadow;
        // position: sticky;
        top: calc(#{$header-height} + 20px);
        padding-top: 0;

        @include mobile {
            top: calc(#{$header-mobile-height} + 20px);
        }

        &__txt {
            & > * {
                margin-bottom: 10px;
            }

            p {
                font-size: 1.25rem;
                border: 2px solid #ccc;
                padding: 5px 10px;
            }

            &__price {
                @include flex(center, space-between);
                padding: 5px 10px;
                font-size: 1.25rem;
                border: 2px solid #ccc;

                span:nth-child(2) {
                    font-size: 2rem;
                    color: blue;
                    font-weight: 600;
                }
            }
        }

        &__btn > * {
            margin-bottom: 20px;
        }
    }

    &__list {
        flex-grow: 1;
        border: 2px solid #ccc;
    }

    &__item {
        @include flex(center, flex-start);

        margin-bottom: 20px;

       
        
        &__image {
            margin-right: 20px;
            margin-left: 10px;
            margin-top: 20px;

            img {
                height: 100px;

                @include mobile {
                    height: 120px;
                }
            }
        }

        &__info {
            @include flex(center, space-between);
            flex-grow: 1;

            flex-wrap: wrap;
            
            &__name{
                width: 40%;

                @include mobile {
                    width:100%;
                    display: flex;
                    justify-content: space-between;
                }


                a{
                    @include mobile {
                        font-size: 12px;
                    }
                }

                p {
                    cursor: pointer;
                    margin-top: 10px;
                    text-decoration: underline;
                    font-size: 12px;

                    @include mobile {
                        margin-top: 0;
                        margin-right: 10px;
                    }

                    &:hover {
                        color: $main-color;
                    }
                }
            }

            &__name, &__price {
                font-size: 1.25rem;

                 @include mobile {
                    width:100%;
                    margin-bottom: 10px;
                }
            }

            &__quantity {

                @include mobile {
                    margin-left: 0;
                }
            }

        }
       
    }

    &__zero {
        @include flex(center, center);
        background-color: #fff3cd;

         margin-top: calc(#{$header-height} + 21px);


        @include mobile {
        margin-top: calc(#{$header-mobile-height} + 5px);

        }

        padding: 20px 5px;

        i{
            font-size: 20px;
            margin-right: 10px;
        }

        span {
            font-size: 14px;
        }
    }

}
