.slick-slider {

    .slick-prev, .slick-next {
        width: 50px;
        height: 50px;       
        z-index: 1;       
        box-shadow: 0 0 4px 1px #ccc;
        transform: translate(0, -100%);

         @include mobile {
             width: 35px; 
             height: 35px;
             transform: translate(20%, -100%);
         }      
    }
    .slick-prev::before {
        font-size: 30px;
        color: #bababa;

    }

    .slick-next::before {
        font-size: 30px;
        color: #bababa;

    }
    // .slick-next {
    //     right: -15px;

    //     @include mobile {
    //         right: 0;
    //     }
    // }

     .slick-prev {
        left: -15px;

        @include mobile {
            right: 0;
        }
    }

    .slick-next {
        right: -15px;

        @include mobile {
            right: 0;
        }
    }

    
}