.header {
    background-color: $main-bg;
    width: 100%;
    height: 100%;
    height: $header-height;
    transition: height 0.3 ease 0s;
    box-shadow: $box-shadow;
    position: fixed;
    top: 0;
    z-index: 99;
  

    &.shrink {
        top: calc(#{$header-height} * -1);
        box-shadow: $box-shadow;

        @include mobile {
            // height: $header-shrink-mobile;
        }
    }
    

    @include tablet {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
        
    }

    @include mobile {
        height: $header-mobile-height;
        box-shadow: $box-shadow;
    }

    

    &__mobile {
        display: none;
        width: 100%;

        @include mobile {
            display: block;
            height: 100vh;
            position:fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 5;
            background: #fff;
            width: 80%;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            transform: translateX(-105%);
            transition: transform 0.5s ease;

            &.active {
                transform: translateX(0);
            }

            &__item {
                margin-left: 15px;
                margin-top: 10px;
                
                a {
                    display: inline-block;
                    width: 100%;
                }
            }

            &__item ~ &__item {
                margin-top: 23px;
            }

            &__close {
               
               position: absolute;
               right: -6%;
               background: #fff;
               padding: 1px;
               
               i {
                   font-size: 20px;
               }
            }

            &__account {
                width: 100%;
                color: #fff;
                

                @include flex(center, space-around);
                text-align: center;
                margin-top: 20px;
                

                &__signIn{
                    background-color: $main-color;
                    width: 49%;
                    height: 40px;
                    @include flex(center, center);
                }

                 &__register {
                    background-color: $main-color;
                    width: 49%;
                    height: 40px;
                    @include flex(center, center);
                }

            }
            &__overlay{
                position: fixed;
                background: rgba(0,0,0,.5);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 4;
                display: none;
                transition: opacity 0.5s ease;

                &.active {
                    display: block;
                }
            }

        }
    }

    

    &__contact {
        @include flex(center, space-between);
        padding-top: 12px;
        font-size: 12px;
        text-transform: capitalize;
        font-weight: 600;

        @include mobile {
            display: none;
        }

        &__left {
            @include flex(center, center);

            &__item ~ &__item {
                margin-left: 20px;
            }

            &__item {
                span:hover {
                    color: #787878 !important;
                }
            }

            &__item:nth-child(4){
                background-color: #2a2a86;
                font-size: 13px;
                font-weight: 400;
                color: #fcaf17;
                padding: 1px 5px;
                text-transform: uppercase;
                
                span:hover {
                    color: #fcaf17 !important;
                }
            }

            
            &__item:nth-child(5){
                background-color: #ff4545;
                font-size: 13px;
                font-weight: 400;
                color: #fff;
                padding: 1px 5px;
                margin-left: 8px !important;

                span:hover {
                    color: #fff !important;
                }
            }
        }

        &__right {
            span {
                font-weight: 600;
            }
            a:hover {
                color: #787878;
            }
        }
    }


    &__main {
        @include flex(center, space-between);
        margin-top: 30px;

        @include mobile {
            margin-top:0;
        }

        &__mobile-toggle {
            display: none;
            font-weight: 600;

            @include mobile {
                display: block;
                font-size: 25px;
            }
        }

        &__logo{
           
           display: block;
           left: 80px;

            img {
                height: 55px;

                @include mobile {
                    height: 40px;
                }
                
            }
        }

        &__search {
            width: 445px;
            height:45px;

            @include mobile {
                display: none;
            }

            input {
                height:100%;
                width: 400px;
                padding: 10px 10px;
                border: 1px solid #ced4da;
                outline: none;

                &:focus {
                     border: 1px solid #80bdff  ;
                }
            }

            
            button {
                background: #2a2a86;;
                border-color: #3434a5;  
                outline: none;
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                height:45px;
                width:45px;
                padding: 5px 5px;              
                position: absolute;
                cursor: pointer;

                &:hover {
                    background: #3434a5;
                }

                i {
                    @include flex(center, center);
                }
            }
        }

        &__info {
            @include flex(center, center);
            font-size: 14px;
            cursor: pointer;
            

            &__account {
                  @include flex(center, center);
                  margin-right: 20px;
                  font-weight:400;
                  background: #eee;
                  padding: 10px ;
                  position: relative;
                    
                  
                  
                  @include tablet {
                     padding: 8px;
                 }


                  @include mobile {
                      display: none;
                  }

                  &__icon {
                      @include flex(center, center);
                      border-right: 1px solid #ccc;
                      i{
                          font-size: 18px;
                          margin-right: 5px;
                          
                      }
                      
                  }

                  &__name {
                      margin-left: 5px;

                     
                  }

                  &__sub {
                   
                    width: 100%;
                    position: absolute;
                    box-shadow: 0 0 3px 0 #ccc;
                    z-index: 3;
                    background: #fff;
                    top: 100%;
                    display: none;
                   
                    transition: all 0.2s ease;

                    a {
                        display: block;
                        margin: 12px 0;
                        padding: 1px 6px;
                    }                    
                    a:hover {
                        color: #787878;
                    }
                  }

                  &:hover &__sub{
                      display: block;
                  }

                  
            }
            

          

            &__cart{
                @include flex(center, center);
                 background: #eee;
                  padding: 10px ;

                  position: relative;

                  @include mobile {
                      background: #fff;
                  }

                 margin-right: 20px;

                 @include tablet {
                     padding: 8px;
                 }

                 @include mobile {
                     margin-right: 0;
                 }

                 
                  &__search {
                      display: none;
                  

                      @include mobile {
                          display: block;
                         
                           
                      }

                      i {
                          font-size: 20px;
                          margin-right: 8px;
                            @include flex(center, center);
                      }
                  }


                  &__icon {
                      @include flex(center, center);
                      border-right: 1px solid #ccc;
                      position: relative;

                      @include mobile {
                          border-right: none !important;
                        
                      }
                      i{
                          font-size: 18px;
                          margin-right: 5px;

                          @include mobile {
                            font-size: 25px;
                          }

                        }
                        span {
                            display: block;
                            width:15px;
                            height: 15px;
                            background: red;
                            color: #fff;
                            position: absolute;
                            border-radius: 50%;
                            text-align:center;
                            top: -25%;
                            right: -10%;
                            font-size: 12px;

                            display: none;
                            
                            @include mobile {
                                display: block;
                            }
                        }
                      
                  }

                  &__name {
                      margin-left: 5px;

                      @include mobile {
                          display: none;
                      }

                    }
                    &__item {
                      position: absolute;
                      top: 100%;
                      min-width: 350px;
                      min-height: 60px;
                      right: -20px;
                      z-index: 3;
                      border: 1px solid #eee;
                      background: #fff;
                     
                      font-weight: 500;
                      display: none;
                    

                      p{
                          margin-left: 20px;
                           line-height: 60px;
                      }

                      &__price {
                          margin-top: 20px;
                          @include flex(flex-start, space-between);
                          margin-right: 10px;
                         font-size: 8px;

                          &__name {
                              margin-left: 10px;
                          }

                          &__number {
                              font-weight:600;
                               
                          }
                      }

                      &__btn {
                          margin: 20px 10px;
                            color: #fff;
                            text-align: center;

                          a:hover {

                            color: #fff;
                          }
                            
                          &__cart {
                              background-color: #4267b2;
                              padding: 10px 0;
                          }

                          &__checkout {
                              background-color: $main-color;
                              padding: 10px 0;
                          }

                        
                      }
                    }

                    &:hover &__item{
                        display:block;
                    }
            }

         
        }
    }

    &__nav {
       background: #eee;
        @include flex(center, flex-start);
        width: 100%;
        margin-top: 10px;       
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 13px 80px;

        @include tablet {
            padding: 10px 20px;
            @include flex(center, space-between);
        }

        @include mobile {
           
            display: none;
        }

            
  

        &__item {
            @include flex(center, center);

            &.active {
                color: $main-color;
            }
            a {
                @include mobile {
                     text-align: center;
                     display: block;
                     width: 100%;
                     
                }
            }

           

        }

        &__item:after {
            content: "|";
            color: #d7d7d7;
            margin: 0 16px;
            font-weight: 400;
            font-size: 16px;

            @include tablet {
                margin: 0 8px;
                font-weight: 600;
                margin: 0 32px;
            }

        }

        

        // &__item:nth-child(1) {
        //     @include mobile {
        //         display: none;
        //     }
        // }
        //  &__item:nth-child(6) {
        //     @include mobile {
        //         display: none;
        //     }
        // }

    }
}