.search-best {
    margin-top: 30px;

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 20px;
        
    }

    &__content {
        text-transform: capitalize;
        &__item {
            margin-bottom:15px;
            font-weight: 500;
            font-size: 12px;
        }
    }
}